---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="layout">
      <slot />
    </div>
  </body>
</html>

<style>
  :root {
    --color-cell-bg: #e2e8f0;
    --color-cell-bg-hover: #94a3b8;
    --color-cell-bg-selected: #475569;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  body {
    padding-top: 16px;
    max-width: 120ch;
    margin: auto;
  }

  .layout {
    margin-top: 32px;
  }
</style>
